<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    
</head>
<body>
    <h1>Student Information Form</h1>
    <p>Name: {{name}}</p><br> 
    <p>Address: {{address}}</p><br>
    <p>Mobile No.: {{mobileNo}}</p><br>
    <p>Email: {{email}}</p><br>
    <p>Age: {{age}}</p>
    <p>Education: {{education}}</p>
    <p>{{qualification.0}}</p>
    <p>{{university}}</p>
    <p>{{insti}}</p>
    <p>{{yop}}</p>
    <p>{{percentage}}</p>

    <table border="1" cellspacing="0">
        <tr>
            <th>Sr.No.</th>
            <th>Qualification</th>
            <th>University</th>
            <th>Institution</th>
            <th>Year of passing</th>
            <th>Percentage</th>
        </tr>
        
        {% for item1, item2, item3, item4, item5 in mylist %}
            
            <tr>
                <td>{{ forloop.counter}}</td>
                <td> {{item1}}</td>
                <td> {{item2}}</td>
                <td> {{item3}}</td>
                <td> {{item4}}</td>
                <td> {{item5}}</td>
            </tr>
            
        {%  endfor %}

    </table>
    <button>Download/Print</button>
</body>
</html>



